#Masalah Manajemen CSO

Suatu bank mengelola 85 karyawan CSO (Customer Service Officer) untuk melayani kebutuhan nasabah. Sistem informasi CSO mencatat dua hal berikut:

Banyaknya customer yang pernah dilayani masing-masing CSO
Di akhir sesi layanan, customer akan menekan tombol 'like' atau 'dislike' untuk menilai performa setiap CSO. Sistem informasi mencatat persentase customer yang menekan tombol 'dislike' di akhir sesi, menandakan persentase ketidakpuasan pelanggan atas pelayanan seorang CSO.

Hitunglah peluang kejadian berikut:

1. Berdasarkan data, berapakah peluang seorang nasabah secara umum tidak puas pada pelayanan CSO?
<br>
2. Ketika ditemukan seorang nasabah tidak puas terhadap pelayanan CS (namun tidak diketahui siapa tepatnya CSO yang melayani nasabah itu saat itu), siapakah CSO yang:
<br>
    a. Berpeluang paling tinggi untuk memberikan pelayanan pada nasabah tersebut waktu itu?
<br>
    b. Berpeluang paling rendah untuk memberikan pelayanan pada nasabah tersebut waktu itu?

## Import Data

In [1]:
import pandas as pd
data = pd.read_csv("CSO_problem.csv")
data

       CSO  #served_cust prcnt_unsatisfied
0    CSO_1            31             0.00%
1    CSO_2            38             2.63%
2    CSO_3            22             4.55%
3    CSO_4            47             0.00%
4    CSO_5            85             7.06%
..     ...           ...               ...
80  CSO_81            70             0.00%
81  CSO_82            36            11.11%
82  CSO_83            34             8.82%
83  CSO_84           126             8.73%
84  CSO_85            11             9.09%

[85 rows x 3 columns]

## Nomor 1
Berdasarkan data, berapakah peluang seorang nasabah secara umum tidak puas pada pelayanan CSO?

In [2]:
total_cust = sum(data['#served_cust'])
data['served_cust_per_total'] = [(cust/total_cust) for cust in data['#served_cust']]
data

       CSO  #served_cust prcnt_unsatisfied  served_cust_per_total
0    CSO_1            31             0.00%               0.003614
1    CSO_2            38             2.63%               0.004430
2    CSO_3            22             4.55%               0.002565
3    CSO_4            47             0.00%               0.005480
4    CSO_5            85             7.06%               0.009910
..     ...           ...               ...                    ...
80  CSO_81            70             0.00%               0.008161
81  CSO_82            36            11.11%               0.004197
82  CSO_83            34             8.82%               0.003964
83  CSO_84           126             8.73%               0.014690
84  CSO_85            11             9.09%               0.001282

[85 rows x 4 columns]

In [3]:
percent_unsatisfed = data['prcnt_unsatisfied']
percent_unsatisfed = [float(i[:-1])/100 for i in percent_unsatisfed]
served_cust = data['served_cust_per_total']
hasil = sum([percent_unsatisfed[i]*served_cust[i] for i in range(len(data))])
peluang_nomor_1 = hasil*100
print(f'Berdasarkan data, peluang seorang nasabah secara umum tidak puas pada pelayanan CSO adalah {round(peluang_nomor_1,3)}%')

Berdasarkan data, peluang seorang nasabah secara umum tidak puas pada pelayanan CSO adalah 4.909%

## Nomor 2
Ketika ditemukan seorang nasabah tidak puas terhadap pelayanan CS (namun tidak diketahui siapa tepatnya CSO yang melayani nasabah itu saat itu), siapakah CSO yang:

In [4]:
data['unsatisfied_x_#served_cust'] = [percent_unsatisfed[i]*served_cust[i] for i in range(len(data))]
data

       CSO  #served_cust  ... served_cust_per_total  unsatisfied_x_#served_cust
0    CSO_1            31  ...              0.003614                    0.000000
1    CSO_2            38  ...              0.004430                    0.000117
2    CSO_3            22  ...              0.002565                    0.000117
3    CSO_4            47  ...              0.005480                    0.000000
4    CSO_5            85  ...              0.009910                    0.000700
..     ...           ...  ...                   ...                         ...
80  CSO_81            70  ...              0.008161                    0.000000
81  CSO_82            36  ...              0.004197                    0.000466
82  CSO_83            34  ...              0.003964                    0.000350
83  CSO_84           126  ...              0.014690                    0.001282
84  CSO_85            11  ...              0.001282                    0.000117

[85 rows x 5 columns]

In [5]:
# peluang cso | tidak puas
# rumus: (peluang_cso * tidak_puas bersyarat CSO) / tidak_puas 
unsatisfied_x_ = data['unsatisfied_x_#served_cust']
data['peluang cso | tidak puas'] = [(served_cust[i]*unsatisfied_x_[i])/hasil for i in range(len(data))] 
data.sort_values(by=['peluang cso | tidak puas'],inplace=True,ascending=False)
data

       CSO  #served_cust  ... unsatisfied_x_#served_cust  peluang cso | tidak puas
48  CSO_49           469  ...                   0.004779                  0.005324
7    CSO_8           564  ...                   0.001868                  0.002502
47  CSO_48           308  ...                   0.002216                  0.001621
23  CSO_24           364  ...                   0.001867                  0.001614
28  CSO_29           265  ...                   0.002564                  0.001614
..     ...           ...  ...                        ...                       ...
80  CSO_81            70  ...                   0.000000                  0.000000
26  CSO_27            22  ...                   0.000000                  0.000000
6    CSO_7            14  ...                   0.000000                  0.000000
3    CSO_4            47  ...                   0.000000                  0.000000
0    CSO_1            31  ...                   0.000000                  0.000000

[85 rows x 6 columns]

### 2a dan b
a. Berpeluang paling tinggi untuk memberikan pelayanan pada nasabah tersebut waktu itu?
b. Berpeluang paling rendah untuk memberikan pelayanan pada nasabah tersebut waktu itu?

In [6]:
cso_high_untuk_memberikan_pelayanan_pada_nasabah = data.head(1)['CSO'][48]
peluang_cso_high = data.head(1)['peluang cso | tidak puas'][48]

data_cso_low_untuk_memberikan_pelayanan_pada_nasabah = data[data['peluang cso | tidak puas']==0]
peluang_cso_low = data.tail(1)['peluang cso | tidak puas'][0]
cso_low_untuk_memberikan_pelayanan_pada_nasabah = ', '.join(list(data['CSO']))
peluang_cso_low = data.tail(1)['peluang cso | tidak puas'][0]

print(f'CSO yang berpeluang paling tinggi untuk memberikan pelayanan pada nasabah tersebut waktu itu adalah {cso_high_untuk_memberikan_pelayanan_pada_nasabah} dengan peluang {peluang_cso_high*100}%')
print(f'CSO yang berpeluang paling rendah untuk memberikan pelayanan pada nasabah tersebut waktu itu adalah:')
print(cso_low_untuk_memberikan_pelayanan_pada_nasabah)
print(f'Dengan peluang {peluang_cso_low}%')

CSO yang berpeluang paling tinggi untuk memberikan pelayanan pada nasabah tersebut waktu itu adalah CSO_49 dengan peluang 0.532380927216513%
CSO yang berpeluang paling rendah untuk memberikan pelayanan pada nasabah tersebut waktu itu adalah:
CSO_49, CSO_8, CSO_48, CSO_24, CSO_29, CSO_56, CSO_77, CSO_65, CSO_76, CSO_55, CSO_53, CSO_57, CSO_84, CSO_18, CSO_72, CSO_40, CSO_71, CSO_12, CSO_73, CSO_30, CSO_74, CSO_23, CSO_5, CSO_6, CSO_60, CSO_67, CSO_68, CSO_52, CSO_14, CSO_46, CSO_61, CSO_20, CSO_21, CSO_22, CSO_31, CSO_37, CSO_34, CSO_15, CSO_64, CSO_47, CSO_44, CSO_59, CSO_19, CSO_82, CSO_38, CSO_25, CSO_78, CSO_9, CSO_13, CSO_70, CSO_10, CSO_16, CSO_58, CSO_32, CSO_50, CSO_83, CSO_28, CSO_17, CSO_45, CSO_39, CSO_43, CSO_33, CSO_69, CSO_42, CSO_2, CSO_35, CSO_54, CSO_80, CSO_26, CSO_75, CSO_63, CSO_3, CSO_51, CSO_62, CSO_11, CSO_85, CSO_66, CSO_41, CSO_79, CSO_36, CSO_81, CSO_27, CSO_7, CSO_4, CSO_1
Dengan peluang 0.0%